<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="Test1Chrome">
   <parameter name="browser" value="chrome" />
    <classes>
      <class name="Day2.TestLoginDemoWebShop"/>
    </classes>
    
  </test> <!-- Test -->
  <test  name="Test2IE">
  <parameter name="browser" value="ie" />
    <classes>
      <class name="Day2.TestLoginDemoWebShop"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
